[touch-action="none"]{ -ms-touch-action: none; touch-action: none;}
html /deep/ [touch-action="none"]{ -ms-touch-action: none; touch-action: none;}
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto;}
html /deep/ [touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto;}
[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x;}
html /deep/ [touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x;}
[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y;}
html /deep/ [touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y;}
[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y;}
html /deep/ [touch-action="pan-x pan-y"],html /deep/ [touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y;}
[touch-action="manipulation"]{ -ms-touch-action: manipulation; touch-action: manipulation;}
html /deep/ [touch-action="manipulation"]{ -ms-touch-action: manipulation; touch-action: manipulation;}


html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #E5E5E5;
}

core-scroll-header-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-scroll-header-panel::shadow #headerContainer {
    pointer-events: none;
}

core-toolbar {
    background: #03a9f4;
    color: white; 
    /*height: 80vh;*/
}

core-toolbar::shadow {
    pointer-events: none;
}

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  background: #03a9f4;
  color: white;
}

core-animated-pages {
      right: 0;
      bottom: 0;
      left: 0;
    }

core-animated-pages > section {
}

#PaNelTabs div {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#page0 {
    padding-left: auto;
    padding-right: auto;
}

#contacte {
    margin-top: 30px;
}

#portfolio {
    height: 100vh;
}

#page1 {
}

#page2 {
    background-color: cadetblue;
}

core-animated-pages:nth-child(1) #contacte paper-shadow.card {
    width: 80%;
}

core-animated-pages:nth-child(1) #contacte {
    width: 95%;

    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

paper-fab.green {
    background: #259b24;
    margin: 0px 30px 30px 30px;
    }