html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #E5E5E5;
}

core-scroll-header-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-toolbar {
    background: #03a9f4;
    color: white;
}

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  background: #03a9f4;
  color: white;
}

core-animated-pages {
      right: 0;
      bottom: 0;
      left: 0;
      /*font-size: 72px;*/
        
    
      /*overflow: hidden;*/
    }

core-animated-pages > section {
    height: 100%;
    /*width: 100%;*/
    position: relative;
    margin: 30px;
}

#page1 {
   background-color: aquamarine;
}

#page2 {
    background-color: bisque;
}

#page3 {
    background-color: cadetblue;
}

core-animated-pages {
}

section > div {
    position: absolute;
    height: 800px;
    width: 100%;
    max-width: 600px;
}

form {
    padding: 5em;
    background-color: white;
}

paper-fab.green {
      background: #259b24;
    }
